<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org" lang="en" xml:lang="en">//Add thymeleaf
  <head>
    <link rel="stylesheet"
    type="text/css"
    th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <script type="text/javascript" th:href="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <meta charset="utf-8" />
    <title>Login screen</title>
  </head>
  <body>
    <2>Login screen</h2>
      <span th:text=${errorMsg}></span>
      <form th:action="@{/login}" method="post" th:object="${loginForm}">
        <div>
        <label>Login ID</label>
        <input type="text" th:field="*{loginId}">
        </div>
        <div>
          <label>Password</label>
          <input type="password" th:field="*{password}">
        </div>
        <div>
          <input type="submit" value="login">
        </div>
      </form>
      <a th:href="@{/signup}"">user registration</a>
  </body>
</html>
